body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url(/ExpoTea.github.io/images/sobre.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
}

.container {
  width: 90%;
  max-width: 600px;
  background-color: #1414ff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.1);
  opacity: 80%;
}

.header {
  width: 100%;
  background-color: #0000ff;
  opacity: 100%;
}

.header img {
  max-width: 100%;
  height: auto;
}

form {
  padding: 5%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.form-group button:first-child {
  margin-right: 10px;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.hidden-itens {
  margin-bottom: 20px;
}

/* Responsive Adjustments */

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

.spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 3px solid rgba(195, 195, 195, 0.6);
  border-radius: 50%;
  border-top-color: #636767;
  animation: spin 1s ease-in-out infinite;
  margin-top: 10px;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

textarea {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 12px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}